<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />

    <add key="ErrorFilePath" value="C:\surveyoutput\Error.txt" />
    <add key="LocalCSVFilePath" value="C:\surveycsv1\" />
    <add key="LocalPDFFilePath" value="C:\surveypdf1\" />
  <!--<add key="myConnectionString" value="server=G-0415\MC;database=PPASurvey_DBProd;uid=sa;password=Admin@123;" />-->

    <add key="myConnectionString" value="Data Source=USHYDSKAKANI7\SQLEXPRESS;Initial Catalog=PPASurvey_DBProd;Integrated Security=True" />
    
  </appSettings>
	<connectionStrings>
		<!--<add name="ApplicationServices" connectionString="data source=G-0421\SQLEXPRESS;Initial Catalog=PPASurvey_DB;Integrated Security=True" />-->
		<add name="PPASurvey_DBEntities1" connectionString="metadata=res://*/PracticePerformanceAssessmentEntities.csdl|res://*/PracticePerformanceAssessmentEntities.ssdl|res://*/PracticePerformanceAssessmentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=USHYDSKAKANI7\SQLEXPRESS;Initial Catalog=PPASurvey_DBProd;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
   <!--<add name="PPASurvey_DBEntities" connectionString="metadata=res://*/PracticePerformanceAssessmentEntities.csdl|res://*/PracticePerformanceAssessmentEntities.ssdl|res://*/PracticePerformanceAssessmentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G-0415\SQLEXPRESS2012;initial catalog=PPASurvey_DB;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />-->

    <add name="PPASurvey_DBEntities" connectionString="metadata=res://*/PracticePerformanceAssessmentEntities.csdl|res://*/PracticePerformanceAssessmentEntities.ssdl|res://*/PracticePerformanceAssessmentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=USHYDSKAKANI7\SQLEXPRESS;Initial Catalog=PPASurvey_DBProd;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
	<system.web>
    <pages>
       <controls>
          <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
       </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    
		<modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
    
	</system.webServer>


  
</configuration>
